body{
    position: absolute;
    top: 0;
    background-color: #faf4dc;
    width: 100vw;
    min-height: 100vh;
}

.login-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    gap: 10px;
}

.login-button{
    color: #ffd05c;
    cursor: pointer;
}

.login-button svg{
    align-self: center;
}

.login-button svg:hover, .login-button a:hover{
    color: #5168c5;
}

.nav-section{
    display: flex;
    justify-content: center ;
}

.menu-area{
    display: flex;
    justify-content: center;
}
.menu-list{
    display: flex;
    list-style-type: none;
}

.menu-list a{
    padding: 10px;
}

.menu-list a:hover{
    color: #5168c5;
    cursor: pointer;
}

.search-box{
    top: 60px;
    right: 10px;
    position: fixed;
}

.group.flex.flex-col{
    border-radius: 16px;
    background-color: #ffffffc2;
}

.search-box svg{
    color: #ffd05c;
    align-self: auto;
}

.banners{
    margin: 20px auto;
}

.banners img{
    width: 250px;
    margin: 10px auto;
}

.banners img:hover{
    transform: scale(1.1, 1.1);
    transition: all ease 0.6s;
    cursor: pointer;
}

.container{
    max-width: 1200px;
}

.product-card{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 20px;
}

.product-card:hover{
    transform: scale(1.05, 1.05);
    transition: all ease 0.5s;
    cursor: pointer; 
}